<!DOCTYPE html>
<html>
    <head>
        <title>KRTex</title>
        {%load static%}

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
        
    </head>
    <body>
     <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p>KRTEXTILES</p>
            </div>
            
            <div class="nav-button">
                <button class="btn white-btn" id="loginBtn"> <a href="{% url 'login' %}">Sign In</a></button>
                <button class="btn" id="RegisterBtn"><a href="{% url 'signup' %}">Sign Up</a></button>
            </div>
            <div class="nav-menu-btn">
                <i class="bx bx-menu"></i>
            </div>
        </nav>
     
     <form action="" class="form-box" method="POST" >
        {% csrf_token %}
        <div class="two-forms">

            <h2>Login Page</h2>
            
            <div class="input-box">
                <label for="input-box">Email</label>
                <input type="email" class="input-field" name="Email" placeholder="Emailid" required>
                
            </div>
            <div class="input-box">
                <label for="input-box">Password</label>
                <input type="password" class="input-field" id="password" name="Password" placeholder="Password" required>
            </div>
            <div>
                
                <input type="checkbox" class="input-field" id="checkbox" placeholder="checkbox" >
                <label for="checkbox">Remember Me</label>
            </div>
            
            <div>
                 <button type="submit">submit</button> 
            </div>
            <div class="register-container" id="register">
                <span>If you don't have an account? <a href="{% url 'signup' %}" >SignUp</a></span>
            </div>

        </div>
        </div>
     </div>
     </form>
    </body>
</html>