<ul>
    <li><a  href="home.html">Home</a></li>
    <li><a href="login.html">Login</a></li>
    <li><a href="register.html">SignUp</a></li>
</ul>
<nav class="nav">
    <div class="nav-logo">
        <p>KRTEXTILES</p>
    </div>
    
    <div class="nav-button">
        <button class="btn white-btn" id="loginBtn"> <a href="{% url 'login' %}">Sign In</a></button>
        <button class="btn" id="RegisterBtn"><a href="{% url 'signup' %}">Sign Up</a></button>
    </div>
    <div class="nav-menu-btn">
        <i class="bx bx-menu"></i>
    </div>
</nav>